@import "variables";
.ui-dialog {
  *zoom: 1;
  _float: left;
  position: relative;
  background-color: #FFF;
  border: 3px solid #e4e4e4;
  border: 3px solid rgba(204, 204, 204, .5);
  border-radius: 2px;
  outline: 0;
  background-clip: padding-box;
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  opacity: 0;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: -moz-transform .15s ease-in-out, opacity .15s ease-in-out;
  -o-transition: -o-transform .15s ease-in-out, opacity .15s ease-in-out;
  -webkit-transition: -webkit-transform .15s ease-in-out, opacity .15s ease-in-out;
  transition: transform .15s ease-in-out, opacity .15s ease-in-out
}

.ui-popup-show .ui-dialog {
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1)
}

.ui-dialog-grid {
  width: auto;
  margin: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  background: 0 0
}

.ui-dialog-body, .ui-dialog-footer, .ui-dialog-header {
  padding: 0;
  border: 0;
  text-align: left;
  background: 0 0
}

.ui-dialog-header {
  white-space: nowrap;
  border-bottom: 1px solid #E5E5E5;
  background-color: #fff;
  border-radius: 2px 2px 0 0
}

.ui-dialog-close {
  position: relative;
  _position: absolute;
  float: right;
  top: 3px;
  right: 8px;
  _height: 26px;
  padding: 0 4px;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #FFF;
  opacity: .2;
  filter: alpha(opacity=20);
  cursor: pointer;
  background: 0 0;
  _background: #FFF;
  border: 0;
  -webkit-appearance: none
}

.ui-popup-bottom-right .ui-dialog-arrow-a, .ui-popup-bottom-right .ui-dialog-arrow-b, .ui-popup-top-right .ui-dialog-arrow-a, .ui-popup-top-right .ui-dialog-arrow-b {
  right: 15px
}

.ui-dialog-statusbar, .ui-dialog-title {
  line-height: 1.428571429;
  font-size: 14px;
  white-space: nowrap
}

.ui-dialog-close:focus, .ui-dialog-close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  opacity: .5;
  filter: alpha(opacity=50)
}

.ui-dialog-title {
  margin: 0;
  min-height: 16.43px;
  padding: 5px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  color: #999;
  font-family: 'microsoft yahei'
}

.min-login-dialog .ui-dialog-title, .ui-dialog-body {
  padding: 10px 15px
}

.ui-dialog-body {
  text-align: center;
  border-radius: 2px
}

.ui-dialog-content {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  *zoom: 1;
  *display: inline;
  text-align: left;
  font-family: 'microsoft yahei'
}

.ui-dialog-footer {
  padding: 0 20px 10px
}

.ui-dialog-statusbar {
  float: left;
  margin-right: 20px;
  padding: 6px 0;
  color: #888
}

.ui-dialog-statusbar label:hover {
  color: #333
}

.ui-dialog-statusbar .label, .ui-dialog-statusbar input {
  vertical-align: middle
}

.ui-dialog-button {
  float: right;
  white-space: nowrap
}

.ui-dialog-footer button {
  width: auto;
  overflow: visible;
  display: inline-block;
  _margin-left: 10px;
  margin-bottom: 0;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 2px;
  padding: 0 10px;
  height: 24px;
  font: 400 12px/22px SimSun;
  color: #666;
  border: 1px solid #ddd;
  background-color: #f2f2f2
}

.ui-dialog-footer button + button {
  margin-bottom: 0;
  margin-left: 10px
}

.ui-dialog-footer button:focus {
  outline: #333 dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px
}

.ui-dialog-footer button:focus, .ui-dialog-footer button:hover {
  text-decoration: none;
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad
}

.ui-dialog-footer button:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
  background-image: none
}

.ui-dialog-footer button[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
  border-color: #ccc
}

.ui-dialog-footer button[disabled]:active, .ui-dialog-footer button[disabled]:focus, .ui-dialog-footer button[disabled]:hover {
  background-color: #fff;
  border-color: #ccc
}

.ui-dialog-footer button.ui-dialog-autofocus, .ui-dialog-footer button.ui-dialog-autofocus:active, .ui-dialog-footer button.ui-dialog-autofocus:hover {
  color: #fff;
  background-color: #f03468;
  border-color: #f03468
}

.ui-dialog-footer button.ui-dialog-autofocus:active, .ui-dialog-footer button.ui-dialog-autofocus:focus {
  background-image: none;
  outline: 0
}

.ui-popup-top .ui-dialog, .ui-popup-top-left .ui-dialog, .ui-popup-top-right .ui-dialog {
  top: -11px
}

.ui-popup-bottom .ui-dialog, .ui-popup-bottom-left .ui-dialog, .ui-popup-bottom-right .ui-dialog {
  top: 8px
}

.ui-popup-left .ui-dialog, .ui-popup-left-bottom .ui-dialog, .ui-popup-left-top .ui-dialog {
  left: -11px
}

.ui-popup-right .ui-dialog, .ui-popup-right-bottom .ui-dialog, .ui-popup-right-top .ui-dialog {
  left: 8px
}

.ui-dialog-arrow-a, .ui-dialog-arrow-b {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
  _color: #FF3FFF;
  _filter: chroma(color=#FF3FFF)
}

.ui-popup-top .ui-dialog-arrow-a, .ui-popup-top-left .ui-dialog-arrow-a, .ui-popup-top-right .ui-dialog-arrow-a {
  bottom: -11px;
  border-top: 8px solid #e4e4e4;
  border-top: 8px solid rgba(204, 204, 204, .5);
  border-bottom: 0 none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent
}

.ui-popup-top .ui-dialog-arrow-b, .ui-popup-top-left .ui-dialog-arrow-b, .ui-popup-top-right .ui-dialog-arrow-b {
  bottom: -7px;
  border-top: 8px solid #fff;
  border-bottom: 0 none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent
}

.ui-popup-left-bottom .ui-dialog-arrow-a, .ui-popup-left-bottom .ui-dialog-arrow-b, .ui-popup-right-bottom .ui-dialog-arrow-a, .ui-popup-right-bottom .ui-dialog-arrow-b {
  bottom: 15px
}

.ui-popup-top-left .ui-dialog-arrow-a, .ui-popup-top-left .ui-dialog-arrow-b {
  left: 15px
}

.ui-popup-top .ui-dialog-arrow-a, .ui-popup-top .ui-dialog-arrow-b {
  left: 50%;
  margin-left: -8px
}

.ui-popup-bottom .ui-dialog-arrow-a, .ui-popup-bottom-left .ui-dialog-arrow-a, .ui-popup-bottom-right .ui-dialog-arrow-a {
  top: -11px;
  border-bottom: 8px solid #e4e4e4;
  border-bottom: 8px solid rgba(204, 204, 204, .5);
  border-top: 0 none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent
}

.ui-popup-bottom .ui-dialog-arrow-b, .ui-popup-bottom-left .ui-dialog-arrow-b, .ui-popup-bottom-right .ui-dialog-arrow-b {
  top: -7px;
  border-bottom: 8px solid #fff;
  border-top: 0 none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent
}

.ui-popup-bottom-left .ui-dialog-arrow-a, .ui-popup-bottom-left .ui-dialog-arrow-b {
  left: 15px
}

.ui-popup-bottom .ui-dialog-arrow-a, .ui-popup-bottom .ui-dialog-arrow-b {
  margin-left: -8px;
  left: 50%
}

.ui-popup-left .ui-dialog-arrow-a, .ui-popup-left-bottom .ui-dialog-arrow-a, .ui-popup-left-top .ui-dialog-arrow-a {
  right: -11px;
  border-left: 8px solid #e4e4e4;
  border-left: 8px solid rgba(204, 204, 204, .5);
  border-right: 0 none;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent
}

.ui-popup-left .ui-dialog-arrow-b, .ui-popup-left-bottom .ui-dialog-arrow-b, .ui-popup-left-top .ui-dialog-arrow-b {
  right: -7px;
  border-left: 8px solid #fff;
  border-right: 0 none;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent
}

.ui-popup-left-top .ui-dialog-arrow-a, .ui-popup-left-top .ui-dialog-arrow-b {
  top: 15px
}

.ui-popup-left .ui-dialog-arrow-a, .ui-popup-left .ui-dialog-arrow-b {
  margin-top: -8px;
  top: 50%
}

.ui-popup-right .ui-dialog-arrow-a, .ui-popup-right-bottom .ui-dialog-arrow-a, .ui-popup-right-top .ui-dialog-arrow-a {
  left: -11px;
  border-right: 8px solid #e4e4e4;
  border-right: 8px solid rgba(204, 204, 204, .5);
  border-left: 0 none;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent
}

.ui-popup-right .ui-dialog-arrow-b, .ui-popup-right-bottom .ui-dialog-arrow-b, .ui-popup-right-top .ui-dialog-arrow-b {
  left: -7px;
  border-right: 8px solid #fff;
  border-left: 0 none;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent
}

.ui-popup-right-top .ui-dialog-arrow-a, .ui-popup-right-top .ui-dialog-arrow-b {
  top: 15px
}

.ui-popup-right .ui-dialog-arrow-a, .ui-popup-right .ui-dialog-arrow-b {
  margin-top: -8px;
  top: 50%
}

@-moz-keyframes ui-dialog-loading {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-webkit-keyframes ui-dialog-loading {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-o-keyframes ui-dialog-loading {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-ms-keyframes ui-dialog-loading {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes ui-dialog-loading {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.ui-dialog-loading {
  vertical-align: middle;
  position: relative;
  display: block;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
  width: 32px;
  height: 32px;
  top: 50%;
  margin: -16px auto 0;
  font-size: 0;
  text-indent: -999em;
  color: #666;
  width: 100% \9
;
  text-indent: 0 \9
;
  line-height: 32px \9
;
  text-align: center \9
;
  font-size: 12px \9
}

.ui-dialog-loading::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 3px;
  margin: 14.5px 0 0 14.5px;
  border-radius: 100%;
  box-shadow: 0 -10px 0 1px #ccc, 10px 0 #ccc, 0 10px #ccc, -10px 0 #ccc, -7px -7px 0 .5px #ccc, 7px -7px 0 1.5px #ccc, 7px 7px #ccc, -7px 7px #ccc;
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-animation: ui-dialog-loading 1.5s infinite linear;
  -moz-animation: ui-dialog-loading 1.5s infinite linear;
  -ms-animation: ui-dialog-loading 1.5s infinite linear;
  -o-animation: ui-dialog-loading 1.5s infinite linear;
  animation: ui-dialog-loading 1.5s infinite linear;
  display: none \9
}

.ui-dialog-type .ui-dialog-cnt-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  left: 0;
  top: 0
}

.ui-dialog-type .ui-dialog-cnt-html {
  margin-left: 24px
}

.ui-dialog-tips .ui-dialog-cnt-icon {
  color: #6cf
}

.ui-dialog-warning .ui-dialog-cnt-icon {
  color: #ffae00
}

.ui-dialog-question .ui-dialog-cnt-icon {
  color: #849fd0
}

.ui-dialog-error .ui-dialog-cnt-icon {
  color: #c33
}

.ui-dialog-ok .ui-dialog-cnt-icon {
  color: #7abd54
}

.ui-dialog-loading-text .ui-dialog-cnt-icon img {
  width: 20px;
  height: 20px
}

.ui-dialog-loading-text .ui-dialog-cnt-html {
  margin-left: 26px
}

.min-login-dialog .ui-dialog-close {
  top: 8px;
  *top: 3px
}

.btn {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  height: 22px;
  font: 400 12px/22px SimSun;
  border: 1px solid #f03468;
  background-color: #f03468;
  color: #fff;
  cursor: pointer
}

.tab a, .tab2 a {
  display: block;
  text-align: center;
  min-width: 80px;
  float: left
}

.btn:hover {
  text-decoration: none;
  border: 1px solid #fa4678;
  background-color: #fa4678
}

.btn-sec {
  color: #666;
  border: 1px solid #ddd;
  background-color: #f2f2f2
}

.btn-sec:hover {
  border: 1px solid #ddd;
  background-color: #fafafa
}

.btn-yellow {
  border: 1px solid #f90;
  background-color: #f90
}

.btn-yellow:hover {
  border: 1px solid #ffa800;
  background-color: #ffa800
}

.btn-disabled, .btn-disabled:hover {
  border: 1px solid #ddd;
  background-color: #f2f2f2
}

.btn .iconfont {
  margin-right: 5px;
  font-size: 15px;
  line-height: 15px;
  -webkit-text-stroke-width: 0
}

.btn-l {
  height: 46px;
  padding: 0 20px;
  font: 400 18px/46px 'microsoft yahei'
}

.btn-l .iconfont {
  font-size: 20px
}

.btn-m {
  height: 26px;
  padding: 0 15px;
  font: 400 16px/26px 'microsoft yahei'
}

.btn-m .iconfont {
  font-size: 16px
}

.btn-disabled {
  cursor: text;
  color: #ccc
}

.bet-aq, .tab a {
  padding: 0 10px;
  color: #666
}

.btn-sub-app {
  border: 1px solid #090;
  background-color: #090
}

.btn-sub-app:hover {
  border: 1px solid #007c00;
  background-color: #007c00
}

.bet-aq {
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  border-radius: 2px;
  cursor: pointer;
  height: 22px
}

.box-bg, .tab a {
  border: 1px solid #e4e4e4
}

.tab, .tab a {
  border-bottom: 1px solid #e4e4e4
}

.bet-aq:hover {
  background: #f9f9f9
}

.tab {
  position: relative;
  height: 34px
}

.tab .tab-title {
  position: absolute;
  left: 0;
  bottom: -1px
}

.tab a {
  margin-right: 10px;
  height: 32px;
  line-height: 32px;
  background-color: #f2f2f2;
  border-radius: 2px 2px 0 0
}

.tab a:hover {
  background-color: #fafafa;
  border-bottom: 1px solid #fafafa;
  text-decoration: none
}

.tab .hover, .tab .hover:hover {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  color: #f40;
  font-weight: 700
}

.tab2 {
  position: relative;
  height: 34px;
  border-bottom: 2px solid #d2293e;
  margin: 0 0 0 170px;
  overflow: hidden
}

.tab2 a, .tab2 a:hover {
  background-color: #fff;
  border-bottom: 1px solid #fff
}

.tab2 .tab2-title {
  position: absolute;
  left: 0;
  bottom: -1px
}

.tab2 a {
  margin-right: 10px;
  height: 33px;
  line-height: 33px;
  padding: 0 20px;
  border-radius: 2px 2px 0 0;
  color: #666;
  font-family: 'microsoft yahei'
}

.tab2 a:hover {
  color: #d2293e;
  text-decoration: none
}

.tab2 .hover, .tab2 .hover:hover {
  color: #fff;
  background-color: #d2293e;
  border-bottom: 1px solid #d2293e
}

.pager {
  text-align: right;
  color: #666
}

.pager a, .pager b, .pager input, .pager span {
  display: inline-block;
  text-align: center;
  padding: 0 8px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #ddd;
  border-radius: 1px;
  color: #666;
  font-family: tahoma, SimSun;
  margin-left: 2px;
  *vertical-align: middle;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear
}

.pager .disable, .pager .disable:hover {
  text-decoration: none;
  color: #ccc;
  border-color: #ededed
}

.pager input[type=text] {
  width: 25px
}

.pager b, .pager span {
  border: 1px solid #fff
}

.pager b {
  color: #f40
}

.pager a:hover {
  color: #f40;
  border-color: #f40;
  text-decoration: none
}

.pager input {
  height: 12px;
  line-height: 12px;
  padding: 6px 0;
  width: 40px;
  margin: 0 5px
}

.pager em {
  margin: 0 10px
}

.bed-nav, .mod-crumbs-nav {
  width: 1190px;
  margin: 0 auto
}

.min-pager .pager .pager-item, .min-pager .pager .pg-btn, .min-pager .pager b, .min-pager .pager em, .min-pager .pager span {
  display: none
}

.bed-nav {
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.bed-nav a, .bed-nav b, .bed-nav span {
  font: 400 12px/44px SimSun;
  color: #666;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Century Gothic", system, Arial, Verdana, Tahoma
}

.bed-nav span {
  padding: 0 5px
}

.bed-nav b {
  font-weight: 700
}

.mod-crumbs-nav {
  height: 24px;
  line-height: 24px;
  padding: 10px 0
}

.mod-crumbs-nav .crumbs-nav-item {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 24px;
  padding: 0 4px 0 0
}

.mod-crumbs-nav .crumbs-nav-item span {
  padding: 0 0 0 4px;
  font: 400 12px/24px SimSun
}

.iconcart, .iconmall {
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale
}

.mod-crumbs-nav .crumbs-nav-item.one-level a {
  color: #666
}

.mod-crumbs-nav .crumbs-nav-item a:hover {
  color: #f40;
  cursor: pointer
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 24px;
  position: relative;
  z-index: 1
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop .menu-drop-main {
  display: none;
  position: absolute;
  left: 0;
  top: 23px;
  width: 360px;
  padding: 10px 0 10px 8px;
  border: 1px solid #F16320;
  background: #fff
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop .trigger {
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 22px;
  padding: 0 4px 0 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  line-height: 22px
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop:hover {
  z-index: 71
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop:hover .trigger {
  border-color: #F16320 #F16320 #fff;
  z-index: 72
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop:hover .menu-drop-main {
  display: block
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop .menu-drop-main .menu-drop-list li {
  float: left;
  width: 66px;
  height: 24px;
  overflow: hidden;
  line-height: 24px;
  margin-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop .trigger .menu-drop-open {
  display: block;
  position: absolute;
  width: auto;
  right: 4px;
  top: 1px;
  background: #fff;
  color: #f40;
  height: 0;
  -webkit-transition: height .4s linear;
  -moz-transition: height .4s linear;
  -ms-transition: height .4s linear;
  -o-transition: height .4s linear;
  transition: height .4s linear;
  overflow: hidden
}

a, body {
  color: #666
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop:hover .trigger .menu-drop-open {
  height: 20px;
  width: auto
}

@font-face {
  font-family: iconcart;
  src: url(../font/cart/iconfont.eot?v=950e92450fa7724b);
  src: url(../font/cart/iconfont.eot?v=950e92450fa7724b#iefix) format('embedded-opentype'), url(../font/cart/iconfont.woff?v=69c280eb78f6c404) format('woff'), url(../font/cart/iconfont.ttf?v=16dce6f6f2f378b6) format('truetype'), url(../font/cart/iconfont.svg?v=f13be135d01b3989#iconcart) format('svg')
}

.iconcart {
  font-family: iconcart !important
}

.icon-bbgpinzhi:before {
  content: "\e606"
}

.icon-shenfenyanzheng:before {
  content: "\e600"
}

.icon-kuaisuqingguan:before {
  content: "\e604"
}

.icon-guoneishouhou:before {
  content: "\e605"
}

.icon-shangchuan:before {
  content: "\e602"
}

.icon-zhanshigengduo:before {
  content: "\e603"
}

.icon-zhanshigengduoshang:before {
  content: "\e601"
}

.icon-icon3:before {
  content: "\e607"
}

.btn .iconmall {
  margin-right: 5px;
  font-size: 12px
}

.empty {
  width: 440px;
  margin: 0 auto;
  padding: 20px 0
}

.empty .empty-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  margin-right: 10px;
  text-align: center;
  background-color: transparent
}

:root .empty .empty-img {
  background-color: #ddd
}

.empty .empty-img .iconfont {
  color: #ccc;
  font-size: 48px;
  display: none
}

:root .empty .empty-img .iconfont {
  display: inline-block;
  color: #fff;
  font-size: 32px
}

.empty .empty-cnt h2 {
  height: 30px;
  font: 400 22px/30px 'microsoft yahei';
  color: #666
}

.empty .empty-cnt .more {
  display: inline-block;
  line-height: 30px;
  color: #06c;
  margin-left: 2px
}

.starts li {
  float: left;
  color: #ccc
}

.starts li .iconfont {
  font-size: 20px
}

.starts-1 .lv-1, .starts-2 .lv-1, .starts-2 .lv-2, .starts-3 .lv-1, .starts-3 .lv-2, .starts-3 .lv-3, .starts-4 .lv-1, .starts-4 .lv-2, .starts-4 .lv-3, .starts-4 .lv-4, .starts-5 .lv-1, .starts-5 .lv-2, .starts-5 .lv-3, .starts-5 .lv-4, .starts-5 .lv-5 {
  color: #fc0
}

.p-normal {
  font: 400 16px "microsoft yahei";
  color: red
}

.p-del {
  font: 400 12px "microsoft yahei";
  color: #999;
  text-decoration: line-through
}

.w1190 {
  width: 1190px;
  margin: 0 auto
}

.s-process {
  position: absolute;
  right: 0;
  top: 15px
}

.s-process li {
  display: inline-block;
  float: left;
  height: 47px;
  position: relative;
  margin-right: 30px
}

.s-process li .text {
  position: absolute;
  width: 80px;
  bottom: 0;
  text-align: center;
  display: block;
  right: -30px;
  border: 0
}

.s-process li .end-text {
  right: -5px
}

.s-process .def .line, .s-process .through .line {
  display: inline-block;
  width: 90px;
  height: 13px;
  border-bottom: 2px solid #ccc;
  vertical-align: top
}

.s-process .line-20 {
  width: 25px !important
}

.s-process .def .circle, .s-process .through .circle {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: url(//static5.bubugao.com/mall/img/cart/cart-circle-bg.png) 0 -24px;
  font-style: normal;
  text-align: center;
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  color: #fff
}

.s-process .def .text {
  color: #999
}

.s-process .def .circle {
  color: #ccc;
  background-position: 0 0
}

.s-process .through .line {
  border-bottom: 2px solid #f60
}

.s-process .through .text {
  color: #f60
}

.s-process .end .text {
  right: -6px
}

.site-head .span-txt {
  display: block;
  font-size: 24px;
  font-weight: 400;
  color: #666;
  padding-left: 10px;
  position: absolute;
  bottom: 13px;
  left: 269px;
  font-family: 'microsoft yahei';
  width: 102px;
  height: 47px;
  line-height: 54px;
  background-color: #fff
}

.s-process .pro-txt {
  font-size: 12px;
  padding-left: 8px;
  display: inline-block;
  vertical-align: middle;
  color: #5d5d5d
}

.s-process li .icon {
  font-size: 28px;
  color: #f03468;
  display: inline-block;
  vertical-align: middle
}

.global-topbar .sn-block .sn-cart, .global-topbar .sn-block .sn-cart-split, .hide {
  display: none
}

.process-item {
  background: url(../img/icon-bg-2.jpg) no-repeat;
  width: 34px;
  text-align: center;
  height: 36px;
  line-height: 36px
}

.rel {
  position: relative
}

.abs {
  position: absolute
}

.col-green {
  color: #39B243
}

.col-yellow {
  color: #ff9e06
}

.col-red {
  color: #d2293d
}

.col6 {
  color: #666
}

.col9 {
  color: #999
}

.t16, .t18, .t24 {
  font-family: 'Lucida Grande', 'Microsoft YaHei';
  font-weight: 400
}

.t16 {
  font-size: 16px
}

.t18 {
  font-size: 18px
}

.t24 {
  font-size: 24px
}

.t20 {
  font-size: 20px
}

.il-blk {
  display: inline-block;
  _zoom: 1;
  *display: inline
}

.over-text {
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden
}

img.img-error {
  //background: url(//ssl.bbgstatic.com/pub/img/loading/loading.gif?v=d331a16fbffc2553) 50% 50% no-repeat
}

.cnt {
  padding: 40px 0
}

.box {
  margin: 0 auto;
  padding: 0 20px;
  width: 1150px
}

.box-bg {
  background-color: #fff
}

.pay-time {
  padding: 10px 20px 20px
}

.count-down em {
  margin: 0 5px;
  padding: 3px;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  background-color: red
}

.site-nav .sn-address, .site-nav .sn-block .sn-cart, .site-nav .sn-block .sn-cart-split {
  display: none
}

.linkage-tab {
  position: relative;
  font-size: 12px;
  height: 26px
}

.linkage-tab .content, .linkage-tab .text {
  border: 1px solid #e4e4e4
}

.linkage-tab .linkage-tab-input {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 1px;
  height: 1px
}

.linkage-tab .text {
  padding-left: 5px;
  padding-right: 20px;
  position: relative;
  background: #fff;
  height: 26px;
  line-height: 26px;
  color: #666;
  cursor: pointer
}

.linkage-tab .clr {
  width: 17px;
  height: 17px;
  //background: url(//ssl.bbgstatic.com/pub/img/close/close.png?v=832b9de7b2a12479) no-repeat;
  cursor: pointer;
  position: absolute;
  right: -9px;
  top: -9px
}

.linkage-tab .clr:hover {
  //background: url(//ssl.bbgstatic.com/pub/img/close/close-hover.png?v=95240f0fe6db1058) no-repeat
}

.linkage-tab .limit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  _zoom: 1;
  _display: inline;
  width: 70px
}

.linkage-tab .text .text-div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  zoom: 1
}

.linkage-tab .text .text-div i {
  padding-left: 10px
}

.linkage-tab .content .mt .tab li a:hover i, .linkage-tab .content .mt .tab li i, .linkage-tab .text b {
  display: block;
  -webkit-backface-visibility: hidden;
  position: absolute;
  right: 8px;
  top: 10px;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid dashed dashed;
  border-color: #333132 transparent transparent;
  font-size: 0;
  line-height: 0;
  -webkit-transition: -webkit-transform .2s ease-in;
  -moz-transition: -moz-transform .2s ease-in;
  -o-transition: -o-transform .2s ease-in;
  transition: transform .2s ease-in;
  -moz-transform: rotate(0);
  -moz-transform-origin: 50% 30%;
  -webkit-transform: rotate(0);
  -webkit-transform-origin: 50% 30%;
  -o-transform: rotate(0);
  -o-transform-origin: 50% 30%;
  transform: rotate(0);
  transform-origin: 50% 30%
}

.linkage-tab .text .hover-arrow {
  border-color: #333132 transparent transparent;
  -webkit-transition: -webkit-transform .2s ease-in;
  -moz-transition: -moz-transform .2s ease-in;
  -o-transition: -o-transform .2s ease-in;
  transition: transform .2s ease-in;
  -moz-transform: rotate(180deg);
  -moz-transform-origin: 50% 30%;
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin: 50% 30%;
  -o-transform: rotate(180deg);
  -o-transform-origin: 50% 30%;
  transform: rotate(180deg);
  transform-origin: 50% 30%
}

.linkage-tab .content {
  position: absolute;
  width: 390px;
  background: #fff;
  z-index: 0;
  top: 26px;
  left: 0;
  padding: 15px;
  display: none
}

.linkage-tab .content .mt .tab li a i {
  border-color: #ccc transparent transparent
}

.linkage-tab .content .mt .tab li a:hover i {
  border-color: #999 transparent transparent
}

.linkage-tab .content .mt .tab {
  height: 25px;
  border-bottom: 2px solid #edd28b
}

.linkage-tab .content .mt .tab li {
  display: inline-block;
  float: left;
  cursor: pointer;
  margin-top: 0 !important;
  min-width: 50px !important
}

.linkage-tab .content .mt .tab li a {
  position: relative;
  float: left;
  height: 25px;
  line-height: 23px;
  padding: 0 21px 1px 11px;
  margin-right: 3px;
  border: 1px solid #ddd;
  border-bottom: 0;
  color: #ccc !important;
  text-align: center;
  cursor: pointer;
  z-index: -1;
  min-width: 50px;
  background: 0 0;
  font-weight: 400;
  vertical-align: top
}

.linkage-tab .content .mt .tab li a:hover {
  text-decoration: none
}

.linkage-tab .content .mt .tab li a em {
  font-style: normal;
  color: #959595 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  _zoom: 1;
  _display: inline;
  width: 45px
}

.linkage-tab .content .mt .tab li a.hover {
  height: 25px;
  background-color: #fff;
  border: 2px solid #edd28b;
  border-bottom: 0;
  padding: 0 20px 0 10px;
  line-height: 22px;
  text-decoration: none;
  color: #000;
  z-index: 1
}

.linkage-tab .content .mt .tab li a.hover em {
  color: #333
}

.linkage-tab .content .mc .load-txt-box {
  text-align: center;
  padding: 20px 0
}

.linkage-tab .content .mc .area-list {
  padding-top: 5px;
  margin-top: 0 !important
}

.linkage-tab .content .mc .area-list li {
  display: inline-block;
  float: left;
  height: auto !important;
  min-height: 0 !important;
  padding: 2px 0 2px 15px;
  margin-top: 0 !important
}

.linkage-tab .content .mc .area-list li a {
  float: left;
  padding: 2px 4px;
  color: #333 !important;
  line-height: 18px
}

.linkage-tab .content .mc .area-list li a:hover {
  background: #eee;
  text-decoration: none
}

.linkage-tab .content .mc .area-list li .a-hover, .linkage-tab .content .mc .area-list li a.a-hover:hover {
  background: #005ea7;
  color: #fff !important;
  text-decoration: none
}

.linkage-tab-hover {
  position: relative;
  z-index: 2
}

.linkage-tab-hover .text {
  border-bottom: 0;
  z-index: 1
}

.linkage-tab-hover .content {
  display: block
}

.linkage-tab label.error {
  position: absolute !important;
  left: 372px !important;
  color: red !important;
  text-align: left !important;
  width: 300px !important
}

.pay-sure {
  padding: 10px 30px 30px;
  overflow: hidden
}

.pay-sure .pay-tips {
  width: 360px;
  text-align: left;
  margin-bottom: 20px
}

.pay-sure .pay-tips em {
  width: 230px;
  display: inline-block;
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top
}

.pay-sure .pay-pop-inner .f-l {
  float: left;
  border: 1px solid #f03468;
  border-radius: 2px
}

.pay-sure .pay-pop-inner .f-l .f-l-inner {
  border-radius: 2px;
  border: 4px solid #f9aec3;
  width: 150px;
  height: 110px
}

.pay-sure .pay-pop-inner .f-l h1 {
  display: block;
  text-align: center;
  padding-top: 15px;
  color: #f03468;
  font-weight: 400;
  font-size: 16px
}

.pay-sure .pay-pop-inner .f-l a {
  display: block;
  text-align: center;
  padding-top: 10px;
  font-family: '宋体';
  font-size: 12px
}

.pay-sure .pay-pop-inner .f-r {
  float: right;
  border: 1px solid #E4E4E4;
  border-radius: 2px;
  margin-left: 41px
}

.pay-sure .pay-pop-inner .f-r .f-r-inner {
  border-radius: 2px;
  border: 4px solid #F1F1F1;
  width: 150px;
  height: 110px
}

.pay-sure .pay-pop-inner .f-r h1 {
  display: block;
  text-align: center;
  padding-top: 15px;
  color: #666;
  font-weight: 400;
  font-size: 16px
}

.pay-sure .pay-pop-inner .f-r a {
  display: block;
  text-align: center;
  padding-top: 10px;
  font-family: '宋体';
  font-size: 12px
}

.btn, .mod-pay .bd .ctn .order-list .list table td div, .mod-pay .bd .money .flag, .mod-pay .bd .tips {
  font-family: 'Microsoft YaHei'
}

body {
  min-width: 990px;
  color: #333;
  _background-attachment: fixed;
  background-color: $tea-light;
}

.btn, .btn:hover {
  background: #f03468
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  min-width: 125px;
  max-width: 200px
}

.btn-sec {
  background: #f2f2f2
}

.btn-sec:hover {
  background: #fafafa
}

.s-process .step-1 .line {
  color: #f60;
  border-bottom: 2px solid #f60
}

.s-process .step-1 .text {
  color: #f60
}

.s-process .step-1 .circle {
  background-position: 0 -24px;
  color: #fff
}

.s-process .step-2 .line {
  color: #f60;
  border-bottom: 2px solid #f60
}

.s-process .step-2 .text {
  color: #f60
}

.s-process .step-2 .circle {
  background-position: 0 -24px;
  color: #fff
}

.s-process .step-3 .line {
  color: #f60;
  border-bottom: 2px solid #f60
}

.s-process .step-3 .text {
  color: #f60;
  right: -5px
}

.s-process .step-3 .circle {
  background-position: 0 -24px;
  color: #fff
}

.mod-pay {
  width: 1190px;
  margin: 0 auto 50px;
  overflow: hidden;
  position: relative
}

.mod-pay .bd {
  padding: 20px 0 0
}

.mod-pay .bd .tips {
  margin: 0 auto;
  padding: 0 20px;
  width: 1150px
}

.mod-pay .bd .tips .title {
  line-height: 40px
}

.mod-pay .bd .tips .title .icon {
  font-size: 36px;
  -webkit-text-stroke-width: 0;
  font-weight: 400;
  color: #49af5b;
  vertical-align: middle
}

.mod-pay .bd .tips .title .text {
  font-size: 20px;
  -webkit-text-stroke-width: 0;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px
}

.mod-pay .bd .time {
  font-size: 15px;
  margin-left: 70px
}

.mod-pay .bd .time .time-box {
  margin: 0 5px
}

.mod-pay .bd .time .time-box em {
  color: #f03468
}

.mod-pay .bd .money {
  margin-left: 70px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  font-style: normal
}

.mod-pay .bd .money .flag {
  font-style: normal;
  color: #f03468
}

.mod-pay .bd .money .num {
  font-size: 26px;
  color: #f03468;
  margin-right: 10px
}

.mod-pay .bd .ctn {
  padding-bottom: 20px;
  border-top: 2px solid #e4e4e4;
  position: relative;
  width: 1190px;
  background-color: #fff;
  margin: 10 auto 0;
  overflow: hidden
}

.mod-pay .bd .ctn .order-list .list {
  padding: 7px 20px;
  display: none;
  max-height: 400px;
  _height: 300px;
  overflow: auto
}

.mod-pay .bd .ctn .order-list .list table {
  border-collapse: collapse;
  vertical-align: middle;
  width: 100%
}

.mod-pay .bd .ctn .order-list .list table th {
  vertical-align: top;
  background: #fff;
  padding-bottom: 5px;
  text-align: center
}

.mod-pay .bd .ctn .order-list .list table th div {
  background: #e4e4e4;
  padding: 10px 0
}

.mod-pay .bd .ctn .order-list .list table td {
  background: #f2f2f2;
  text-align: center
}

.mod-pay .bd .ctn .order-list .list table td .f-div {
  margin-left: 20px;
  padding-right: 20px
}

.mod-pay .bd .ctn .order-list .list table td .l-div {
  margin-right: 20px;
  padding-left: 20px
}

.mod-pay .bd .ctn .order-list .list table td div {
  border-bottom: 1px dotted #ccc;
  padding: 6px 0
}

.mod-pay .bd .ctn .order-list .detail-btn {
  position: relative;
  border-top: 2px solid #ccc
}

.mod-pay .bd .ctn .order-list .detail-btn .open-detail {
  position: absolute;
  width: 76px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  background: #e4e4e4;
  right: 20px;
  display: block;
  cursor: pointer;
  color: #333;
  font-weight: 700;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
  top: -2px;
  border: 2px solid #ccc;
  border-top: 0
}

.mod-pay .bd .ctn .inner .broadcast, .mod-pay .bd .ctn .inner .broadcast .wrap .icon {
  color: #f03468
}

.mod-pay .bd .ctn .order-list .detail-btn .open-detail-hover {
  background: #fff;
  height: 23px;
  line-height: 23px;
  width: 72px;
  border: 2px solid #ccc;
  border-top: 0
}

.mod-pay .bd .ctn .order-list .detail-btn .open-detail:hover {
  text-decoration: none
}

.mod-pay .bd .ctn .inner {
  margin: 10px 55px
}

.mod-pay .bd .ctn .inner .broadcast .wrap {
  background: #fbf4f5;
  float: left
}

.mod-pay .bd .ctn .inner .broadcast .wrap .text {
  font-family: '宋体'
}

.mod-pay .bd .ctn .inner-2 {
  margin-top: 30px
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .mod-pay .bd .ctn .bank-ico {
    top: -19px
  }
}

@-moz-document url-prefix() {
  .mod-pay .bd .ctn .bank-ico {
    top: -20px
  }
}

.mod-pay .bd .ctn .bank-ico {
  position: absolute;
  top: -22px;
  top: -18px \9;
  //+ top:- 23 px;
  left: 0;
  height: auto !important;
  line-height: normal !important;
  width: 190px
}

.mod-pay .bd .ctn .bank-ico .lft {
  float: left;
  background: #f03468;
  color: #fff;
  padding: 2px
}

.mod-pay .bd .ctn .bank-ico .mid {
  float: left;
  border: 1px solid #f03468;
  color: #f03468;
  padding: 1px 2px;
  max-width: 110px
}

.mod-pay .bd .ctn .bank-ico .rit {
  float: left;
  background: #fbf4f5;
  color: #636666;
  padding: 2px 2px 1px;
  max-width: 55px
}

.mod-pay .bd .ctn .bank-ico-disabled .lft {
  background: #999
}

.mod-pay .bd .ctn .bank-ico-disabled .mid {
  border: 1px solid #999;
  color: #999;
  max-width: 110px
}

.mod-pay .bd .ctn .bank-ico-disabled .rit {
  background: #F2F2F2;
  color: #999;
  max-width: 55px
}

.mod-pay .ico-pay {
  vertical-align: middle;
  background: url(../img/ico-pay-bg.jpg) no-repeat;
  width: 118px;
  height: 37px;
  display: block;
  margin: 2px auto 0
}
.mod-pay .pay-alipay{
  background-position: 0 -0px
}
.mod-pay .pay-wxpay{
  background-position: 0 -111px
}

.mod-pay .bank-radio {
  display: none
}


.mod-pay  ul .hover {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff
}

.mod-pay .bd .ctn .bank-card .card-ctn {
  border: 1px solid #ccc;
  padding: 15px 30px 10px;
  background: #fff;
  border-radius: 0 3px 3px
}

.mod-pay .bd .ctn .bank-card .card-ctn .inner-box .item {
  display: none;
  position: relative
}

.mod-pay .bd .ctn .bank-card .card-ctn .inner-box .item .item-inner {
  overflow: hidden;
  position: relative
}

.mod-pay .bd .ctn .bank-card .card-ctn .inner-box .item .item-normal {
  height: 170px
}

.mod-pay .bd .ctn .bank-card .card-ctn .inner-box .item .title {
  font-size: 14px
}

.mod-pay .bd .ctn .bank-card .card-ctn .inner-box .item .title .tips {
  margin-left: 10px;
  color: #979797
}

.mod-pay .bd .ctn .bank-card .card-ctn .inner-box .item ul {
  margin-top: 12px
}

.mod-pay ul .card-item {
  margin: 15px 40px 25px 0;
  height: 42px;
  line-height: 42px;
  width: 210px;
  border: 1px solid #ccc;
  float: left;
  cursor: pointer;
  position: relative;
  text-align: center;
  border-radius: 3px
}



.mod-pay  ul .hover {
  border: 1px solid #f03468
}

.mod-pay .bd .ctn .bank-card .card-ctn .inner-box .hover {
  display: block
}

.mod-pay .bd .ctn .warm-tips {
  margin-top: 40px;
  padding: 14px 0;
  text-align: center;
  background: #fbf4f5;
  color: #f03468;
  font-size: 13px
}

.mod-pay .bd .ctn .pay-list {
  margin-top: 10px
}

.mod-pay .bd .ctn .pay-list .item-hd {
  border: 1px solid #f3f3f3
}

.mod-pay .bd .ctn .pay-list .item {
  border: 1px solid #f3f3f3;
  margin-top: 10px
}

.mod-pay .bd .ctn .pay-list .box-1 {
  width: 280px
}

.mod-pay .bd .ctn .pay-list .box-2 {
  width: 200px
}

.mod-pay .bd .ctn .pay-list table {
  border-collapse: collapse;
  vertical-align: middle;
  width: 100%;
  table-layout: fixed
}

.mod-pay .bd .ctn .pay-list table th {
  vertical-align: top;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  background: #fafafa
}

.mod-pay .bd .ctn .pay-list table th div {
  padding: 15px 0
}

.mod-pay .bd .ctn .pay-list table td {
  text-align: center
}

.mod-pay .bd .ctn .pay-list table td div {
  font-family: 'Microsoft YaHei';
  padding: 6px 0
}

.mod-pay .bd .ctn .pay-list table td div .des-txt {
  color: #ccc
}

.mod-pay .bd .ctn .pay-list table td div .item-p {
  padding: 10px 0
}

.mod-pay .bd .ctn .pay-list table td div .item-a {
  color: #333
}

.mod-pay .bd .ctn .pay-list table td div .item-a:hover, .mod-pay .bd .ctn .pay-list table td div .money-text {
  color: #f03468
}

.mod-pay .bd .ctn .pay-list table td div .bank-pref {
  color: #f03468;
  background: #fbf4f5;
  display: inline-block;
  padding: 1px 8px;
  line-height: 20px;
  text-align: center;
  margin-top: 5px
}

.mod-pay .bd .ctn-2, .mod-pay .bd .ctn-2 .warm-tips {
  margin-top: 30px
}

.site-head .span-txt {
  border-left: none
}