<?php defined('ByYfShop') or exit('非法进入,IP记录...'); ?>

<?php if(!empty($output['nav_link_list']) && is_array($output['nav_link_list'])){?>
<div class="mod-crumbs-nav">
	<?php foreach($output['nav_link_list'] as $nav_link){?>
	<?php if(!empty($nav_link['link'])){?>
  <div class="crumbs-nav-item one-level">
    <a href="<?php echo $nav_link['link'];?>" class="crumbs-link" title="<?php echo $nav_link['title'];?>"><?php echo $nav_link['title'];?></a>
    <span>&gt;</span>
  </div>
	<?php }else{?>
  <b><?php echo $nav_link['title'];?></b>
	<?php }?>
	<?php }?>
</div>
<?php }?>

