<?php defined('ByYfShop') or exit('非法进入,IP记录...'); ?>
<div class="footer">
    <div class="ft">
      <div class="copyright">
          <p class="links">
	          <a rel="nofollow" href="<?php echo SHOP_SITE_URL;?>/article-43.html" target="_blank">隐私政策</a><span>|</span>
	          <a rel="nofollow" href="<?php echo SHOP_SITE_URL;?>/article-44.html" target="_blank">购物流程</a><span>|</span>
	          <a rel="nofollow" href="<?php echo SHOP_SITE_URL;?>/article-45.html" target="_blank">退换货政策</a><span>|</span>
              <a rel="nofollow" href="<?php echo SHOP_SITE_URL;?>/article-22.html" target="_blank">关于太划算</a><span>|</span>
              <a rel="nofollow" href="<?php echo SHOP_SITE_URL;?>/article-23.html" target="_blank">联系我们</a>
          </p>
          <p class="cprt-icp">Copyright© 太划算商城 2014-2016，All Rights Reserved</p>
          <p class="cprt-icp">ICP备案:苏ICP备14036053号-1<span>|</span>增值电信业务经营许可证：<a href="http://jscainfo.miitbeian.gov.cn/state/outPortal/loginPortal.action">苏B2-20160487</a><span>|</span>食品流通许可证：SP3205851410003535<span>|</span>酒类流通备案：320504101788</p>
          <p class="pic">
              <img border="0" src="http://static.htths.com/images/szicbok.gif">
          </p>
      </div>
    </div>
</div>

