<?php defined('ByYfShop') or exit('非法进入,IP记录...'); ?>
<div class="footer">
    <div class="bd">
        <div class="help w1190">
            <div class="list">
                <dl>
                    <dt><i class="iconfont"></i>新手指南</dt>
                    <dd><a rel="nofollow" href="http://help.yunhou.com/g/guide-consumer-book.html" target="_blank">消费者告知书</a></dd>
                    <dd><a rel="nofollow" href="http://help.yunhou.com/g/guide-shopping-process.html" target="_blank">购物流程</a></dd>
                    <dd><a rel="nofollow" href="http://help.yunhou.com/g/guide-common-problem.html"
                           target="_blank">常见问题</a></dd>
                    <dd><a rel="nofollow" href="http://help.yunhou.com/g/guide-coupon-description.html" target="_blank">优惠券说明</a></dd>
                </dl>
                <dl>
                    <dt><i class="iconfont"></i>关于售后</dt>
                    <dd><a rel="nofollow" href="http://help.yunhou.com/g/aftermarket-tax-sale.html" target="_blank">保税区商品售后</a></dd>
                    <dd><a rel="nofollow" href="http://help.yunhou.com/g/aftermarket-makeups-sale.html" target="_blank">国际美妆商品售后</a></dd>
                    <dd><a rel="nofollow" href="http://help.yunhou.com/g/aftermarket-mail-sale.html" target="_blank">国际直邮商品售后</a></dd>
                    <dd><a rel="nofollow" href="http://help.yunhou.com/g/aftermarket-third-sale.html" target="_blank">第三方商家售后</a></dd>
                </dl>
                <dl>
                    <dt><i class="iconfont"></i>物流配送</dt>
                    <dd><a rel="nofollow" href="http://help.yunhou.com/g/logistics-delivery-aging.html" target="_blank">发货时效</a></dd>
                    <dd><a rel="nofollow" href="http://help.yunhou.com/g/logistics-delivery-process.html"
                           target="_blank">配送流程</a></dd>
                    <dd><a rel="nofollow" href="http://help.yunhou.com/g/logistics-overtime-payment.html"
                           target="_blank">超时赔付标准</a></dd>
                </dl>
                <dl>
                    <dt><i class="iconfont"></i>招商合作</dt>
                    <dd><a rel="nofollow" href="http://help.yunhou.com/g/about-website-presentation.html"
                           target="_blank">全球购简介</a></dd>
                    <dd><a rel="nofollow" href="http://help.yunhou.com/g/about-contact.html"
                           target="_blank">联系我们</a></dd>
                    <dd><a rel="nofollow" href="http://help.yunhou.com/g/about-merchants.html" target="_blank">招商合作</a></dd>
                    <dd><a rel="nofollow" href="http://zhaoshang.yunhou.com/business/toIndex.do"
                           target="_blank">招商入驻</a></dd>
                </dl>
            </div>
            <div class="contact">
                <div class="item"><i class="iconfont"></i><span>4008-888-881</span></div>
                <div class="item item-email"><i class="iconfont"></i><span>cs@bubugao.com</span></div>
            </div>
        </div>
    </div>
    <div class="ft">
        <div class="copyright">
            <p class="links"><a rel="nofollow" href="http://www.yunhou.com/article-cominfo-146.html" target="_blank">关于云猴</a><span>|</span><a
		            rel="nofollow" href="http://campus.51job.com/bbg/" target="_blank">诚聘英才</a><span>|</span><a
		            href="http://www.yunhou.com/article-news-list.html" target="_blank">新闻动态</a><span>|</span> <a
		            rel="nofollow" href="http://www.yunhou.com/article-cominfo-147.html"
		            target="_blank">联系我们</a><span>|</span><a rel="nofollow" href="http://shopadmin.yunhou.com/"
                                                         target="_blank">商家登录</a><span>|</span><a rel="nofollow"
                                                                                                  href="http://www.yunhou.com/tag/category/all.html"
                                                                                                  target="_blank">分类导航</a></p>
            <p class="cprt-icp">湘ICP备06014709号-3<span>|</span>Copyright© 云猴网 2013-2016，All Rights Reserved</p>
        </div>
    </div>
</div>
