<?php defined('ByYfShop') or exit('非法进入,IP记录...'); ?>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>日本花王Merries 纸尿裤NB90片 5KG以下【价格 促销 在线购买 评价】-云猴网</title>
    <meta name="pageid" content="2.5" />
    <meta name="keywords" content="花王/Merries,9905020016D,日本花王Merries 纸尿裤NB90片 5KG以下,新生儿纸尿裤,日本花王Merries 纸尿裤NB90片 5KG以下怎么样" />
    <meta name="description" content="【花王/Merries 9905020016D】 新生儿纸尿裤, 包括花王/Merries促销、花王/Merries日本花王Merries 纸尿裤NB90片 5KG以下图片及报价，真实的花王/Merries日本花王Merries 纸尿裤NB90片 5KG以下购买评价等，网购花王/Merries就选云猴网" />
    <script>!function() {
            var r, s = navigator.userAgent.match(/MSIE\s([^;]*)/);
            s && s[1] && (r = parseInt(s[1], 10)), 8 > r && !function(r, s, t) {
                r.write('<link href="//' + s + "/pub/module/browser/1.0.0/browser.css?v=" + t + '" rel="stylesheet"/>'),
                    r.write('<script src="//' + s + "/pub/module/browser/1.0.0/browser.js?v=" + t + '"></sc'+'ript>');
            }(document, ("http:" == location.protocol ? "s3" : "ssl") + ".bbgstatic.com", "v2");
        }();</script>
    <script src="<?php echo STATIC_URL; ?>/js/require.js" data-main="<?php echo STATIC_URL; ?>/js/main"></script>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <link rel="dns-prefetch" href="//s1.bbgstatic.com" />
    <link rel="dns-prefetch" href="//s3.bbgstatic.com" />
    <link rel="dns-prefetch" href="//img0.bbgstatic.com" />
    <link rel="dns-prefetch" href="//img1.bbgstatic.com" />
    <link rel="dns-prefetch" href="//img2.bbgstatic.com" />
    <link rel="dns-prefetch" href="//img3.bbgstatic.com" />
    <link rel="dns-prefetch" href="//img4.bbgstatic.com" />
    <link rel="dns-prefetch" href="//img04.bubugao.com" />
    <link rel="dns-prefetch" href="//static5.bubugao.com" />

    <script>
        !function($cfg){
            var g=function(k,d,p){return"//"+k+"."+d+(p?"/"+p:"")};
            var t="http:"!==location.protocol,i=t?"ssl":"s1",d="yunhou.com",s="bbgstatic.com";
            var list=[
                "analysis","app","cart","g","help","i","item","m","safe","search","settle","shop","shopadmin","spu","ssl","www",
                "api.cart","api.mall","api.ms","api.search","api.sleuth"
            ];
            var l=list.length,k,p=$cfg.paths={};
            while(l--)p[k=list[l]]=g(k, d);
            p["@"]=d;
            p["img"]=g("img0",s);
            p["js"]=g(i,s);
            p["css"]=g(i,s);
            t&&(p["api.mall"]=g("ssl",d,"apimall"));
        }(window.$PAGE_DATA||(window.$PAGE_DATA={}));
    </script>
    <script>
        var $PAGE_DATA=window.$PAGE_DATA||{startTime:new Date};
        // global track api for cps
        (function(c,a,b){/\btk=[^&]+/.test(a.search)&&((new Image).src="//analysis.yunhou.com/track/img?from="+b(a.href)+"&refer="+b(c.referrer))})(document,location,encodeURIComponent);
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="360-site-verification" content="7a0309fc13f6aa50e73ab4ae5564cf7b" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <script>;(function(d,s,v){d.write('<link href="//'+s+'/pub/module/base/1.0.1/base.css?v='+v+'" rel="stylesheet"/>')}(document,(location<'https'?'s3':'ssl')+'.bbgstatic.com','dd11a2f'))</script>
    <link href="//s1.bbgstatic.com/mall-base/css/module/global/1.0.0/item.css?v=311a5de532d20f61" rel="stylesheet" />
</head>

