<?php defined('ByYfShop') or exit('非法进入,IP记录...'); ?>
<div class="site-head">
    <div class="bd w1190 clearfix">
        <div class="s-box" id="jSearch" data-node-type="jSearch">
            <div class="s-main">
                <label class="lbl-key" for="mq"></label>
                <input class="input" type="text" accesskey="s" autocomplete="off" x-webkit-grammar="builtin:translate" value="" id="mq" data-node-type="mq">
                <a data-bpm="3.1.1.1.1.0" class="btn-search jBtnAllSearch" href="javascript:;">搜索</a>
            </div>
            <div class="kw-suggest" id="jKwSuggest" data-node-type="jKwSuggest"></div>
        </div>
        <h1 class="title">
            <a href="http://www.yunhou.com/" title="云猴全球购" class="go-home"><img alt="云猴全球购" class="logo" src="http://s1.bbgstatic.com/pub/img/blank.gif"></a>
        </h1>
    </div>
</div>