<?php defined('ByYfShop') or exit('非法进入,IP记录...'); ?>
<div id="jSiteNav" class="global-topbar">
    <div class="bd w1190 clearfix">
        <!--<ul class="sn-block sn-login f-l">
          <li style="margin:0 20px 0 0;"><a href="http://www.yunhou.com?from=g"><span class="iconfont" style="font-size: 14px;"></span>云猴网首页</a></li>
        </ul>-->
        <ul class="sn-block sn-login f-l" id="jSiteLogin">
            <li style="display:none">欢迎来到云猴网！请<a href="login.php">登录</a><span class="split"></span><a href="">免费注册</a></li>
        </ul>
        <div class="sn-address local-select f-l" style="display:none;"><span class="f-l">配送至</span><a class="sn-sel-address f-l" id="jSnSelAddress" href="javascript:;">请选择<b class="arrow"></b></a></div>
        <ul class="sn-block sn-quick f-r" id="jSiteNavQuick">
            <li class="jMenu">
                <a class="menu-hd block-item" href="http://i.yunhou.com">我的云猴<b class="arrow"></b></a>
                <div class="menu-bd">
                    <a href="http://i.yunhou.com/order/orderList">我的订单</a>
                    <a href="http://i.yunhou.com/coupons/getNotUsedCoupons">我的优惠券</a>
                    <a href="http://i.yunhou.com/delivery/getAddress">我的收货地址</a>
                    <a href="http://i.yunhou.com/order/orderRefundList">我的退换货</a>
                </div>
            </li>
            <li class="sn-cart"><a class="block-item" href="http://cart.yunhou.com/">我的购物车<b class="jCartCount sn-cart-count">0</b></a></li>
            <li><a class="block-item" href="http://g.yunhou.com/help.html">帮助中心</a></li>
            <li class="sn-msg jNotification"><a class="block-item" href="http://i.yunhou.com/news/getUnReadMsg">消息</a></li>
            <li class="qr-codes jMenu">
                <a class="menu-hd block-item" href="javascript:;">手机版</a>
                <div class="menu-bd">
                    <div class="qr-codes-img"><img class="jImgPhoneCode img-error" data-url="//ssl.bbgstatic.com/mall-index/img/global/qrcode.jpg" src="//ssl.bbgstatic.com/pub/img/blank.gif" alt="二维码"></div><div class="qr-codes-txt">全球购手机版</div>
                </div>
            </li>
        </ul>
    </div>
</div>