@charset "UTF-8";.linkage-tab .content .mt .tab li a em,.linkage-tab .limit {
  _zoom: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.tab2 {
  position: relative;
  height: 34px;
  border-bottom: 2px solid #d2293e;
  margin: 0 0 0 170px;
  overflow: hidden
}

.tab2 a,.tab2 a:hover {
  background-color: #fff;
  border-bottom: 1px solid #fff
}

.tab2 .tab2-title {
  position: absolute;
  left: 0;
  bottom: -1px
}

.tab2 a {
  display: block;
  float: left;
  margin-right: 10px;
  height: 33px;
  line-height: 33px;
  padding: 0 20px;
  border-radius: 2px 2px 0 0;
  text-align: center;
  min-width: 80px;
  color: #666;
  font-family: 'microsoft yahei'
}

.tab2 a:hover {
  color: #d2293e;
  text-decoration: none
}

.tab2 .hover,.tab2 .hover:hover {
  color: #fff;
  background-color: #d2293e;
  border-bottom: 1px solid #d2293e
}

.pager a,.pager b,.pager input,.pager span {
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear
}

.pager .disable,.pager .disable:hover {
  text-decoration: none;
  color: #ccc;
  border-color: #ededed
}

.pager input[type=text] {
  width: 25px
}

.bed-nav,.mod-crumbs-nav {
  width: 1190px;
  margin: 0 auto
}

.min-pager .pager .pager-item,.min-pager .pager .pg-btn,.min-pager .pager b,.min-pager .pager em,.min-pager .pager span {
  display: none
}

.bed-nav {
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.bed-nav a,.bed-nav b,.bed-nav span {
  font: 400 12px/44px SimSun;
  color: #666;
  font-family: "Microsoft YaHei","Hiragino Sans GB","Century Gothic",system,Arial,Verdana,Tahoma
}

.bed-nav span {
  padding: 0 5px
}

.bed-nav b {
  font-weight: 700
}

.mod-crumbs-nav {
  height: 24px;
  line-height: 24px;
  padding: 10px 0
}

.mod-crumbs-nav .crumbs-nav-item {
  display: inline-block;
  zoom:1;*display: inline;
  height: 24px;
  padding: 0 4px 0 0
}

.mod-crumbs-nav .crumbs-nav-item span {
  padding: 0 0 0 4px;
  font: 400 12px/24px SimSun
}

.mod-crumbs-nav .crumbs-nav-item.one-level a {
  color: #666
}

.mod-crumbs-nav .crumbs-nav-item a:hover {
  color: #f40;
  cursor: pointer
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop {
  display: inline-block;
  zoom:1;*display: inline;
  height: 24px;
  position: relative;
  z-index: 1
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop .menu-drop-main {
  display: none;
  position: absolute;
  left: 0;
  top: 23px;
  width: 360px;
  padding: 10px 0 10px 8px;
  border: 1px solid #F16320;
  background: #fff
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop .trigger {
  position: relative;
  display: inline-block;
  zoom:1;*display: inline;
  height: 22px;
  padding: 0 4px 0 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  line-height: 22px
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop:hover {
  z-index: 71
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop:hover .trigger {
  border-color: #F16320 #F16320 #fff;
  z-index: 72
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop:hover .menu-drop-main {
  display: block
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop .menu-drop-main .menu-drop-list li {
  float: left;
  width: 66px;
  height: 24px;
  overflow: hidden;
  line-height: 24px;
  margin-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop .trigger .menu-drop-open {
  display: block;
  position: absolute;
  width: auto;
  right: 4px;
  top: 1px;
  background: #fff;
  color: #f40;
  height: 0;
  -webkit-transition: height .4s linear;
  -moz-transition: height .4s linear;
  -ms-transition: height .4s linear;
  -o-transition: height .4s linear;
  transition: height .4s linear;
  overflow: hidden
}

.mod-crumbs-nav .crumbs-nav-item .menu-drop:hover .trigger .menu-drop-open {
  height: 20px;
  width: auto
}

.linkage-tab {
  position: relative;
  font-size: 12px;
  height: 26px
}

.linkage-tab .content,.linkage-tab .text {
  border: 1px solid #e4e4e4
}

.linkage-tab .linkage-tab-input {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 1px;
  height: 1px
}

.linkage-tab .text {
  padding-left: 5px;
  padding-right: 20px;
  position: relative;
  background: #fff;
  height: 26px;
  line-height: 26px;
  color: #666;
  cursor: pointer
}

.linkage-tab .clr {
  width: 17px;
  height: 17px;
  //background: url(//s3.bbgstatic.com/pub/img/close/close.png?v=832b9de7b2a12479) no-repeat;
  cursor: pointer;
  position: absolute;
  right: -9px;
  top: -9px
}

.linkage-tab .clr:hover {
  //background: url(//s3.bbgstatic.com/pub/img/close/close-hover.png?v=95240f0fe6db1058) no-repeat
}

.linkage-tab .limit {
  display: inline-block;
  _display: inline;
  width: 70px
}

.linkage-tab .text .text-div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  zoom:1}

.linkage-tab .text .text-div i {
  padding-left: 10px
}

.linkage-tab .content .mt .tab li a:hover i,.linkage-tab .content .mt .tab li i,.linkage-tab .text b {
  display: block;
  -webkit-backface-visibility: hidden;
  position: absolute;
  right: 8px;
  top: 10px;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid dashed dashed;
  border-color: #333132 transparent transparent;
  font-size: 0;
  line-height: 0;
  -webkit-transition: -webkit-transform .2s ease-in;
  -moz-transition: -moz-transform .2s ease-in;
  -o-transition: -o-transform .2s ease-in;
  transition: transform .2s ease-in;
  -moz-transform: rotate(0);
  -moz-transform-origin: 50% 30%;
  -webkit-transform: rotate(0);
  -webkit-transform-origin: 50% 30%;
  -o-transform: rotate(0);
  -o-transform-origin: 50% 30%;
  transform: rotate(0);
  transform-origin: 50% 30%
}

.linkage-tab .text .hover-arrow {
  border-color: #333132 transparent transparent;
  -webkit-transition: -webkit-transform .2s ease-in;
  -moz-transition: -moz-transform .2s ease-in;
  -o-transition: -o-transform .2s ease-in;
  transition: transform .2s ease-in;
  -moz-transform: rotate(180deg);
  -moz-transform-origin: 50% 30%;
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin: 50% 30%;
  -o-transform: rotate(180deg);
  -o-transform-origin: 50% 30%;
  transform: rotate(180deg);
  transform-origin: 50% 30%
}

.linkage-tab .content {
  position: absolute;
  width: 390px;
  background: #fff;
  z-index: 0;
  top: 26px;
  left: 0;
  padding: 15px;
  display: none
}

.linkage-tab .content .mt .tab li a i {
  border-color: #ccc transparent transparent
}

.linkage-tab .content .mt .tab li a:hover i {
  border-color: #999 transparent transparent
}

.linkage-tab .content .mt .tab {
  height: 25px;
  border-bottom: 2px solid #edd28b
}

.linkage-tab .content .mt .tab li {
  display: inline-block;
  float: left;
  cursor: pointer;
  margin-top: 0!important;
  min-width: 50px!important
}

.linkage-tab .content .mt .tab li a {
  position: relative;
  float: left;
  height: 25px;
  line-height: 23px;
  padding: 0 21px 1px 11px;
  margin-right: 3px;
  border: 1px solid #ddd;
  border-bottom: 0;
  color: #ccc!important;
  text-align: center;
  cursor: pointer;
  z-index: -1;
  min-width: 50px;
  background: 0 0;
  font-weight: 400;
  vertical-align: top
}

.linkage-tab .content .mt .tab li a:hover {
  text-decoration: none
}

.linkage-tab .content .mt .tab li a em {
  font-style: normal;
  color: #959595!important;
  display: inline-block;
  _display: inline;
  width: 45px
}

.linkage-tab .content .mt .tab li a.hover {
  height: 25px;
  background-color: #fff;
  border: 2px solid #edd28b;
  border-bottom: 0;
  padding: 0 20px 0 10px;
  line-height: 22px;
  text-decoration: none;
  color: #000;
  z-index: 1
}

.linkage-tab .content .mt .tab li a.hover em {
  color: #333
}

.linkage-tab .content .mc .load-txt-box {
  text-align: center;
  padding: 20px 0
}

.linkage-tab .content .mc .area-list {
  padding-top: 5px;
  margin-top: 0!important
}

.linkage-tab .content .mc .area-list li {
  display: inline-block;
  float: left;
  height: auto!important;
  min-height: 0!important;
  padding: 2px 0 2px 15px;
  margin-top: 0!important
}

.linkage-tab .content .mc .area-list li a {
  float: left;
  padding: 2px 4px;
  color: #333!important;
  line-height: 18px
}

.linkage-tab .content .mc .area-list li a:hover {
  background: #eee;
  text-decoration: none
}

.linkage-tab .content .mc .area-list li .a-hover,.linkage-tab .content .mc .area-list li a.a-hover:hover {
  background: #005ea7;
  color: #fff!important;
  text-decoration: none
}

.linkage-tab-hover {
  position: relative;
  z-index: 2
}

.linkage-tab-hover .text {
  border-bottom: 0;
  z-index: 1
}

.linkage-tab-hover .content {
  display: block
}

.linkage-tab label.error {
  position: absolute!important;
  left: 372px!important;
  color: red!important;
  text-align: left!important;
  width: 300px!important
}

@font-face {
  font-family: iconuc;
  src: url(//s3.bbgstatic.com/uc/font/iconfont.eot?v=fde9b1148d8b4857);
  src: url(//s3.bbgstatic.com/uc/font/iconfont.eot?v=fde9b1148d8b4857#iefix) format('embedded-opentype'),url(//s3.bbgstatic.com/uc/font/iconfont.woff?v=5c33fe8af0d7a44a) format('woff'),url(//s3.bbgstatic.com/uc/font/iconfont.ttf?v=54abbedc266d5d9c) format('truetype'),url(//s3.bbgstatic.com/uc/font/iconfont.svg?v=7eb934bb85a8bf5d#iconfont) format('svg')
}

.iconuc {
  font-family: iconuc!important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale
}

.icon-bbgshouji:before {
  content: "\e603"
}

.icon-bbgjifen:before {
  content: "\e600"
}

.icon-bbgyouhuiquan:before {
  content: "\e601"
}

.icon-bbgjiaoyin:before {
  content: "\e602"
}

.icon-bbggouwulan:before {
  content: "\e604"
}

.icon-bbglogo:before {
  content: "\e605"
}

.icon-shenfenzheng:before {
  content: "\e606"
}

.main,.w1190 {
  width: 1190px;
  margin: 0 auto
}

.btn:hover,.pager .pg-btn:hover,.sech-btn:hover,.tab a:hover {
  text-decoration: none
}

.text-limit,.ui-dialog-title {
  overflow: hidden;
  text-overflow: ellipsis
}

.sech-btn:hover,.ui-dialog-content,.ui-dialog-loading,.ui-dialog-statusbar .label,.ui-dialog-statusbar input {
  vertical-align: middle
}

.btn {
  min-width: 46px
}

body {
  background-color: #f2f2f2;
  min-width: 1270px
}

.left-nav {
  background-color: #fff;
  width: 160px;
  margin-right: 10px
}

.left-nav .title-h1 {
  display: block;
  height: 50px;
  line-height: 50px;
  background: #f03468;
  color: #fff;
  font-family: 'microsoft yahei';
  font-size: 16px;
  font-weight: 400
}

.left-nav .title-h1 a {
  color: #fff;
  text-decoration: none;
  margin-left: 42px
}

.left-nav .title-h1 em {
  font-size: 32px;
  float: left;
  margin-left: 12px;
  margin-right: 3px
}

.left-nav .nav-item {
  width: 160px;
  padding: 10px 0
}

.left-nav .nav-item dt {
  height: 20px;
  padding: 0 20px 5px;
  font: 400 16px/20px 'microsoft yahei'
}

.left-nav .nav-item dt .iconfont {
  color: #f03468;
  padding-right: 5px;
  font-size: 16px
}

.left-nav .nav-item dd {
  height: 24px;
  padding: 0 0 0 40px;
  display: block;
  font: 400 12px/24px SimSun
}

.cl-st,.left-nav .nav-item .hover a {
  color: #f03468;
  font-weight: 700
}

.left-nav .nav-item dd a:hover {
  color: #f03468
}

.left-nav .line {
  width: 140px;
  margin: 0 auto;
  height: 0;
  font-size: 0;
  overflow: hidden;
  border-bottom: 1px dotted #ccc
}

.cnt {
  width: 1020px
}

.more {
  font-family: SimSun
}

.empty {
  width: 380px;
  margin: 0 auto;
  padding: 20px 0
}

.empty .empty-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  margin-right: 10px;
  text-align: center;
  background-color: transparent
}

:root .empty .empty-img {
  background-color: #ddd
}

.empty .empty-img .icon {
  color: #ccc;
  font-size: 48px
}

:root .empty .empty-img .icon {
  color: #fff;
  font-size: 40px
}

.empty .empty-cnt h2 {
  min-height: 30px;
  font: 400 22px/30px 'microsoft yahei';
  color: #666;
  word-break: break-all
}

.empty .empty-cnt .more {
  display: block;
  line-height: 30px;
  color: #06c;
  margin-left: 2px
}

.arrow,.arrow-r,.btn,.loading-box p,.sech-btn,.ui-dialog-content {
  display: inline-block
}

.title {
  height: 33px;
  position: relative;
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 0 0
}

.title h2 {
  position: absolute;
  height: 33px;
  font: 400 14px/33px 'microsoft yahei';
  padding: 0 20px;
  bottom: -1px;
  border-bottom: 1px solid red
}

.pager {
  text-align: right;
  color: #666
}

.btn,.loading-box,.sech-btn,.tab a,.tips-div,.ui-dialog-body {
  text-align: center
}

.pager a,.pager b,.pager input,.pager span {
  display: inline-block;
  text-align: center;
  padding: 0 8px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #666;
  font-family: tahoma,SimSun;
  margin-left: 2px;
  *vertical-align: middle
}

.loading-box,.tips-div {
  font-family: 'microsoft yahei'
}

.pager b,.pager span {
  border: 1px solid #fff
}

.pager b {
  color: #f03468
}

.pager a:hover {
  text-decoration: none;
  color: #f03468;
  border-color: #f03468
}

.pager input {
  height: 12px;
  line-height: 12px;
  padding: 6px 0;
  width: 40px;
  margin: 0 5px
}

.pager em {
  margin: 0 10px
}

.pager .pg-btn {
  color: #333;
  background-color: #f2f2f2;
  height: 26px;
  cursor: pointer
}

.pager .pg-btn:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #f03468
}

.text-limit {
  white-space: nowrap;
  zoom:1}

.search-cnt {
  position: relative
}

.sech-btn {
  width: 36px;
  height: 24px;
  background-color: #f03468;
  color: #fff;
  line-height: 24px
}

.sech-btn:hover {
  background-color: #fa4678
}

.search-cnt .lbl-tips {
  color: #989898
}

.lbl-tips {
  position: absolute;
  left: 6px;
  top: 10px
}

.txt-hover {
  border: 1px solid #30a4b1
}

.mar-l-10 {
  margin-left: 10px!important
}

.mar-r-10 {
  margin-right: 10px!important
}

.mar-l-5 {
  margin-left: 5px!important
}

.mar-b-10 {
  margin-bottom: 10px
}

.mar-t-50 {
  margin-top: 50px!important
}

.mar-t-30 {
  margin-top: 30px!important
}

.mar-t-20 {
  margin-top: 20px!important
}

.mar-t-10 {
  margin-top: 10px!important
}

.opacity-8 {
  filter: alpha(opacity= 80);
  -moz-opacity: .8;
  opacity: .8
}

.arrow,.arrow-r {
  _filter: chroma(color= #000);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  _border-left: 5px solid #000;
  _border-right: 5px solid #000;
  border-top: 5px solid #fff;
  width: 0;
  height: 0;
  position: absolute;
  z-index: 1
}

.arrow-r {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  _border-top: 5px solid #000;
  _border-bottom: 5px solid #000;
  border-left: 5px solid #fff
}

.pop-tips {
  line-height: 25px;
  text-indent: 1em
}

.tips-div {
  max-width: 300px
}

.tips-div span {
  color: #090
}

.ben_hide,.btn {
  border-radius: 2px;
  color: #fff
}

.loading-box {
  font-size: 20px;
  padding: 150px 0
}

.loading-box p {
  //background: url(//s3.bbgstatic.com/uc/img/public/loading.gif?v=f4fb8474f151c112) 0 50% no-repeat;
  width: 185px
}

.pad-20 {
  padding: 20px
}

.arrow-icon,.arrow-icon div {
  border-width: 10px;
  border-style: dashed dashed solid;
  border-color: transparent transparent #CCC;
  position: absolute;
  top: -20px;
  right: auto;
  bottom: auto;
  left: 10px;
  height: 0;
  width: 0;
  line-height: 0
}

.o-v,.tab {
  position: relative
}

.arrow-icon div {
  top: -9px;
  left: -10px;
  border-bottom-color: #FFF
}

.arrow-icon-l,.arrow-icon-l div {
  top: 9px;
  right: auto;
  bottom: auto;
  left: -20px;
  border-style: dashed solid dashed dashed;
  border-color: transparent #CCC transparent transparent
}

.arrow-icon-l div {
  top: -10px;
  left: -9px;
  border-right-color: #FFF
}

.o-v {
  top: 10px;
  right: 20px
}

.it-img {
  width: 70px;
  height: 70px
}

.ben_hide {
  background: #ddd;
  height: 24px;
  line-height: 24px;
  padding: 5px 17px
}

.footer {
  margin-top: 50px
}

.btn {
  padding: 0 10px;
  height: 22px;
  font: 400 12px/22px SimSun;
  border: 1px solid #f03468;
  background-color: #f03468;
  cursor: pointer
}

.btn:hover {
  border: 1px solid #fa4678;
  background-color: #fa4678
}

.btn-sec {
  color: #666;
  border: 1px solid #ddd;
  background-color: #f2f2f2
}

.btn-sec:hover {
  border: 1px solid #ddd;
  background-color: #fafafa
}

.btn-yellow {
  border: 1px solid #f03468;
  background-color: #f03468
}

.btn-yellow:hover {
  border: 1px solid #fa4678;
  background-color: #fa4678
}

.btn-disabled,.btn-disabled:hover {
  border: 1px solid #ddd;
  background-color: #f2f2f2
}

.btn .iconfont {
  margin-right: 5px;
  font-size: 15px;
  line-height: 15px;
  -webkit-text-stroke-width: 0
}

.btn-l {
  height: 46px;
  padding: 0 20px;
  font: 400 18px/46px 'microsoft yahei'
}

.btn-l .iconfont {
  font-size: 20px
}

.btn-m {
  height: 26px;
  padding: 0 15px;
  font: 400 16px/26px 'microsoft yahei'
}

.btn-m .iconfont {
  font-size: 16px
}

.btn-disabled {
  cursor: text;
  color: #ccc
}

.bet-aq,.tab a {
  padding: 0 10px;
  color: #666
}

.btn-sub-app {
  border: 1px solid #090;
  background-color: #090
}

.btn-sub-app:hover {
  border: 1px solid #007c00;
  background-color: #007c00
}

.bet-aq {
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  border-radius: 2px;
  cursor: pointer;
  height: 22px
}

.tab,.tab a {
  border-bottom: 1px solid #e4e4e4
}

.bet-aq:hover {
  background: #f9f9f9
}

.tab {
  height: 34px
}

.tab .tab-title {
  position: absolute;
  left: 0;
  bottom: -1px
}

.tab a {
  display: block;
  float: left;
  margin-right: 10px;
  height: 32px;
  line-height: 32px;
  background-color: #f2f2f2;
  border: 1px solid #e4e4e4;
  border-radius: 2px 2px 0 0;
  min-width: 80px
}

.tab a:hover {
  background-color: #fafafa;
  border-bottom: 1px solid #fafafa
}

.tab .hover,.tab .hover:hover {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  color: #f03468;
  font-weight: 700
}

.ui-dialog {
  *zoom:1;_float: left;
  position: relative;
  background-color: #FFF;
  border: 3px solid #e4e4e4;
  border: 3px solid rgba(204,204,204,.5);
  border-radius: 2px;
  outline: 0;
  background-clip: padding-box;
  font-family: Helvetica,arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  opacity: 0;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: -moz-transform .15s ease-in-out,opacity .15s ease-in-out;
  -o-transition: -o-transform .15s ease-in-out,opacity .15s ease-in-out;
  -webkit-transition: -webkit-transform .15s ease-in-out,opacity .15s ease-in-out;
  transition: transform .15s ease-in-out,opacity .15s ease-in-out
}

.ui-dialog-content,.ui-dialog-title {
  font-family: 'microsoft yahei'
}

.ui-popup-show .ui-dialog {
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1)
}

.ui-dialog-grid {
  width: auto;
  margin: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  background: 0 0
}

.ui-dialog-body,.ui-dialog-footer,.ui-dialog-header {
  padding: 0;
  border: 0;
  text-align: left;
  background: 0 0
}

.ui-dialog-header {
  white-space: nowrap;
  border-bottom: 1px solid #E5E5E5;
  background-color: #fff;
  border-radius: 2px 2px 0 0
}

.ui-dialog-close {
  position: relative;
  _position: absolute;
  float: right;
  top: 3px;
  right: 8px;
  _height: 26px;
  padding: 0 4px;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #FFF;
  opacity: .2;
  filter: alpha(opacity=20);
  cursor: pointer;
  background: 0 0;
  _background: #FFF;
  border: 0;
  -webkit-appearance: none
}

.ui-popup-bottom-right .ui-dialog-arrow-a,.ui-popup-bottom-right .ui-dialog-arrow-b,.ui-popup-top-right .ui-dialog-arrow-a,.ui-popup-top-right .ui-dialog-arrow-b {
  right: 15px
}

.ui-dialog-statusbar,.ui-dialog-title {
  line-height: 1.428571429;
  font-size: 14px;
  white-space: nowrap
}

.ui-dialog-close:focus,.ui-dialog-close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  opacity: .5;
  filter: alpha(opacity=50)
}

.ui-dialog-title {
  margin: 0;
  min-height: 16.43px;
  padding: 5px 15px;
  cursor: default;
  color: #999
}

.ui-dialog-body {
  padding: 10px 15px;
  border-radius: 2px
}

.ui-dialog-content {
  position: relative;
  *zoom:1;*display: inline;
  text-align: left
}

.ui-dialog-footer {
  padding: 0 20px 10px
}

.ui-dialog-statusbar {
  float: left;
  margin-right: 20px;
  padding: 6px 0;
  color: #888
}

.ui-dialog-statusbar label:hover {
  color: #333
}

.ui-dialog-button {
  float: right;
  white-space: nowrap
}

.ui-dialog-footer button {
  width: auto;
  overflow: visible;
  display: inline-block;
  _margin-left: 10px;
  margin-bottom: 0;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 2px;
  padding: 0 10px;
  height: 24px;
  font: 400 12px/22px SimSun;
  color: #666;
  border: 1px solid #ddd;
  background-color: #f2f2f2
}

.ui-dialog-footer button+button {
  margin-bottom: 0;
  margin-left: 10px
}

.ui-dialog-footer button:focus {
  outline: #333 dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px
}

.ui-dialog-footer button:focus,.ui-dialog-footer button:hover {
  text-decoration: none;
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad
}

.ui-dialog-footer button:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
  background-image: none
}

.ui-dialog-footer button[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
  border-color: #ccc
}

.ui-dialog-footer button[disabled]:active,.ui-dialog-footer button[disabled]:focus,.ui-dialog-footer button[disabled]:hover {
  background-color: #fff;
  border-color: #ccc
}

.ui-dialog-footer button.ui-dialog-autofocus {
  color: #fff;
  background-color: #f03468;
  border-color: #f03468
}

.ui-dialog-footer button.ui-dialog-autofocus:active,.ui-dialog-footer button.ui-dialog-autofocus:hover {
  color: #fff;
  background-color: #fa4678;
  border-color: #fa4678
}

.ui-dialog-footer button.ui-dialog-autofocus:active,.ui-dialog-footer button.ui-dialog-autofocus:focus {
  background-image: none;
  outline: 0
}

.ui-popup-top .ui-dialog,.ui-popup-top-left .ui-dialog,.ui-popup-top-right .ui-dialog {
  top: -11px
}

.ui-popup-bottom .ui-dialog,.ui-popup-bottom-left .ui-dialog,.ui-popup-bottom-right .ui-dialog {
  top: 8px
}

.ui-popup-left .ui-dialog,.ui-popup-left-bottom .ui-dialog,.ui-popup-left-top .ui-dialog {
  left: -11px
}

.ui-popup-right .ui-dialog,.ui-popup-right-bottom .ui-dialog,.ui-popup-right-top .ui-dialog {
  left: 8px
}

.ui-dialog-arrow-a,.ui-dialog-arrow-b {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
  _color: #FF3FFF;
  _filter: chroma(color=#FF3FFF)
}

.ui-popup-top .ui-dialog-arrow-a,.ui-popup-top-left .ui-dialog-arrow-a,.ui-popup-top-right .ui-dialog-arrow-a {
  bottom: -11px;
  border-top: 8px solid #e4e4e4;
  border-top: 8px solid rgba(204,204,204,.5);
  border-bottom: 0 none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent
}

.ui-popup-top .ui-dialog-arrow-b,.ui-popup-top-left .ui-dialog-arrow-b,.ui-popup-top-right .ui-dialog-arrow-b {
  bottom: -7px;
  border-top: 8px solid #fff;
  border-bottom: 0 none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent
}

.ui-popup-left-bottom .ui-dialog-arrow-a,.ui-popup-left-bottom .ui-dialog-arrow-b,.ui-popup-right-bottom .ui-dialog-arrow-a,.ui-popup-right-bottom .ui-dialog-arrow-b {
  bottom: 15px
}

.ui-popup-top-left .ui-dialog-arrow-a,.ui-popup-top-left .ui-dialog-arrow-b {
  left: 15px
}

.ui-popup-top .ui-dialog-arrow-a,.ui-popup-top .ui-dialog-arrow-b {
  left: 50%;
  margin-left: -8px
}

.ui-popup-bottom .ui-dialog-arrow-a,.ui-popup-bottom-left .ui-dialog-arrow-a,.ui-popup-bottom-right .ui-dialog-arrow-a {
  top: -11px;
  border-bottom: 8px solid #e4e4e4;
  border-bottom: 8px solid rgba(204,204,204,.5);
  border-top: 0 none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent
}

.ui-popup-bottom .ui-dialog-arrow-b,.ui-popup-bottom-left .ui-dialog-arrow-b,.ui-popup-bottom-right .ui-dialog-arrow-b {
  top: -7px;
  border-bottom: 8px solid #fff;
  border-top: 0 none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent
}

.ui-popup-bottom-left .ui-dialog-arrow-a,.ui-popup-bottom-left .ui-dialog-arrow-b {
  left: 15px
}

.ui-popup-bottom .ui-dialog-arrow-a,.ui-popup-bottom .ui-dialog-arrow-b {
  margin-left: -8px;
  left: 50%
}

.ui-popup-left .ui-dialog-arrow-a,.ui-popup-left-bottom .ui-dialog-arrow-a,.ui-popup-left-top .ui-dialog-arrow-a {
  right: -11px;
  border-left: 8px solid #e4e4e4;
  border-left: 8px solid rgba(204,204,204,.5);
  border-right: 0 none;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent
}

.ui-popup-left .ui-dialog-arrow-b,.ui-popup-left-bottom .ui-dialog-arrow-b,.ui-popup-left-top .ui-dialog-arrow-b {
  right: -7px;
  border-left: 8px solid #fff;
  border-right: 0 none;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent
}

.ui-popup-left-top .ui-dialog-arrow-a,.ui-popup-left-top .ui-dialog-arrow-b {
  top: 15px
}

.ui-popup-left .ui-dialog-arrow-a,.ui-popup-left .ui-dialog-arrow-b {
  margin-top: -8px;
  top: 50%
}

.ui-popup-right .ui-dialog-arrow-a,.ui-popup-right-bottom .ui-dialog-arrow-a,.ui-popup-right-top .ui-dialog-arrow-a {
  left: -11px;
  border-right: 8px solid #e4e4e4;
  border-right: 8px solid rgba(204,204,204,.5);
  border-left: 0 none;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent
}

.ui-popup-right .ui-dialog-arrow-b,.ui-popup-right-bottom .ui-dialog-arrow-b,.ui-popup-right-top .ui-dialog-arrow-b {
  left: -7px;
  border-right: 8px solid #fff;
  border-left: 0 none;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent
}

.ui-popup-right-top .ui-dialog-arrow-a,.ui-popup-right-top .ui-dialog-arrow-b {
  top: 15px
}

.ui-popup-right .ui-dialog-arrow-a,.ui-popup-right .ui-dialog-arrow-b {
  margin-top: -8px;
  top: 50%
}

@-moz-keyframes ui-dialog-loading {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-webkit-keyframes ui-dialog-loading {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-o-keyframes ui-dialog-loading {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-ms-keyframes ui-dialog-loading {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes ui-dialog-loading {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.ui-dialog-loading {
  position: relative;
  display: block;
  *zoom:1;*display: inline;
  overflow: hidden;
  width: 32px;
  height: 32px;
  top: 50%;
  margin: -16px auto 0;
  font-size: 0;
  text-indent: -999em;
  color: #666;
  width: 100%\9;
  text-indent: 0\9;
  line-height: 32px\9;
  text-align: center\9;
  font-size: 12px\9
}

.ui-dialog-loading::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 3px;
  margin: 14.5px 0 0 14.5px;
  border-radius: 100%;
  box-shadow: 0 -10px 0 1px #ccc,10px 0 #ccc,0 10px #ccc,-10px 0 #ccc,-7px -7px 0 .5px #ccc,7px -7px 0 1.5px #ccc,7px 7px #ccc,-7px 7px #ccc;
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-animation: ui-dialog-loading 1.5s infinite linear;
  -moz-animation: ui-dialog-loading 1.5s infinite linear;
  -ms-animation: ui-dialog-loading 1.5s infinite linear;
  -o-animation: ui-dialog-loading 1.5s infinite linear;
  animation: ui-dialog-loading 1.5s infinite linear;
  display: none\9
}

.ui-dialog-type .ui-dialog-cnt-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  left: 0;
  top: 0
}

.ui-dialog-type .ui-dialog-cnt-html {
  margin-left: 24px
}

.ui-dialog-tips .ui-dialog-cnt-icon {
  color: #6cf
}

.ui-dialog-warning .ui-dialog-cnt-icon {
  color: #ffae00
}

.ui-dialog-question .ui-dialog-cnt-icon {
  color: #849fd0
}

.ui-dialog-error .ui-dialog-cnt-icon {
  color: #f03468
}

.ui-dialog-ok .ui-dialog-cnt-icon {
  color: #7abd54
}

.ui-dialog-loading-text .ui-dialog-cnt-icon img {
  width: 20px;
  height: 20px
}

.ui-dialog-loading-text .ui-dialog-cnt-html {
  margin-left: 26px
}

.min-login-dialog .ui-dialog-title {
  padding: 10px 15px
}

.min-login-dialog .ui-dialog-close {
  top: 8px;
  *top: 3px
}

.top-info {
  margin-bottom: 12px;
  overflow: hidden
}

.top-info .user-info {
  background-color: #fdeaf0;
  padding: 30px 0 30px 20px;
  width: 560px
}

.user-info .user-hd {
  margin-top: 4px;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 50%
}

.user-info .welcome {
  font: 400 16px/20px 'microsoft yahei';
  width: 425px
}

.user-info .welcome em {
  margin: 0 20px 0 3px
}

.user-info .total {
  height: 20px;
  line-height: 20px;
  padding: 17px 0 10px
}

.user-info .total li {
  color: #666;
  height: 20px;
  line-height: 20px;
  margin-right: 25px
}

.user-info .total .iconfont {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  margin-right: 5px;
  float: left;
  font-size: 17px
}

.user-info .total li .cl-st {
  display: inline-block;
  margin-right: 5px;
  font-family: 'microsoft yahei'
}

.user-info .total li .cl-st a {
  color: #f03468
}

.user-info .total .total-coupons .iconuc,.user-info .total .total-integral .iconuc {
  background-color: #3bc225;
  color: #fff;
  padding: 2px;
  margin-right: 10px
}

.user-info .total .total-coupons .iconuc {
  background-color: #6acf97
}

.user-info .invitation {
  height: 24px;
  line-height: 24px
}

.user-info .invitation .code {
  position: relative;
  width: 250px;
  margin-left: 5px
}

.user-info .invitation .code .txt {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  font-family: '宋体'
}

.safety .safety-level .level-txt,.safety .t16 {
  font: 400 16px/20px 'microsoft yahei'
}

.user-info .invitation .code .btn {
  position: absolute;
  border-radius: 0 2px 2px 0;
  right: 0;
  top: 0;
  min-width: 45px;
  padding: 0;
  z-index: 1
}

.user-balance {
  margin-left: 20px
}

.user-status {
  color: #666;
  margin-bottom: 3px
}

.top-info .safety {
  width: 410px;
  background-color: #fff;
  padding: 30px 10px 30px 20px
}

.safety .safety-level {
  height: 20px;
  padding: 22px 0
}

.safety .safety-level li {
  float: left;
  margin-right: 8px
}

.safety .safety-level .level-txt {
  font-size: 14px
}

.safety .safety-level .upgrade a {
  color: #06c;
  font-size: 12px;
  font-family: SimSun
}

.safety .safety-level .level-img {
  width: 274px;
  height: 20px;
  //background: url(//s1.bbgstatic.com/uc/img/index/safe-level.png) no-repeat
}

.safety .safety-level-2 .level-img {
  background-position: 0 -30px
}

.safety .safety-level-3 .level-img {
  background-position: 0 -60px
}

.safety .safety-level-4 .level-img {
  background-position: 0 -90px
}

.safety .safety-des {
  height: 24px;
  line-height: 24px
}

.safety .safety-des li {
  float: left;
  margin-right: 22px
}

.safety .safety-des li .iconfont {
  font-size: 16px;
  margin-right: 5px;
  vertical-align: middle;
  *display: inline-block;
  *margin-top: 2px
}

.safety .safety-des li .level-goods {
  color: #6acf97
}

.safety .safety-des li .level-bad {
  color: #ff6a93
}

.safety .safety-des li .level-bad .iconfont,.safety .safety-des li .level-bad .iconuc,.safety .safety-des li .level-goods .iconfont,.safety .safety-des li .level-goods .iconuc {
  font-size: 12px
}

.order {
  background-color: #fff;
  zoom:1}

.blk-title {
  border-top: 2px solid #F03468;
  height: 40px;
  line-height: 40px;
  overflow: hidden
}

.blk-title .title-txt {
  font: 400 16px/40px 'microsoft yahei';
  padding: 0 20px
}

.blk-title .more {
  display: inline-block;
  padding: 2px 20px;
  color: #666
}

.order .blk-title {
  border-bottom: 1px solid #f2f2f2
}

.blk-title .title-sel {
  height: 20px;
  line-height: 20px;
  padding: 10px 0
}

.blk-title .title-sel a {
  color: #666;
  display: inline-block;
  padding: 0 20px;
  border-left: 1px dotted #999
}

.blk-title .title-sel a:hover {
  color: red;
  text-decoration: none
}

.blk-title .title-sel .sel-first {
  border-left: 0
}

.blk-title .title-sel .cl-st {
  padding-left: 4px
}

.od-lists {
  padding: 20px 20px 5px
}

.od-item {
  overflow: hidden;
  background-color: #f2f2f2;
  margin-bottom: 15px
}

.od-item li {
  float: left;
  width: 180px;
  text-align: center;
  line-height: 70px
}

.od-item .order-data,.od-item .order-status {
  color: #999
}

.od-item .goods-img {
  width: 70px;
  padding-right: 10px
}

.od-item .goods-link {
  display: block;
  width: 70px;
  height: 70px;
  position: relative;
  background: #fff;
  overflow: hidden
}

.od-item .goods-img img {
  height: 70px;
  float: none
}

.od-item .goods-img span {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  z-index: 2
}

.od-item .goods-img .bg {
  z-index: 1;
  opacity: .5;
  background-color: #f03468;
  filter: alpha(opacity=60)
}

.collect,.history {
  background-color: #fff
}

.od-item .goods-price .p-normal {
  color: #666;
  font-weight: 400
}

.collect-and-history .blk-title {
  border-top: 1px solid #f2f2f2
}

.collect {
  width: 1020px
}

.collect-and-history .box {
  overflow: hidden;
  height: 206px
}

.collect .goods-list {
  width: 1010px
}

.goods-list {
  padding: 20px 30px
}

.goods-list li {
  float: left;
  width: 100px;
  margin-right: 43px
}

.goods-list .goods-img {
  display: block;
  width: 100px;
  height: 100px;
  padding-bottom: 5px;
  text-align: center
}

.goods-list .goods-img img {
  height: 100px
}

.goods-list .goods-name {
  display: block;
  width: 100px;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis
}

.goods-list .goods-price {
  height: 30px;
  line-height: 30px
}

.goods-list .goods-price .p-normal,.goods-list .goods-price .p-normal em {
  font-size: 14px
}

.history {
  width: 439px;
  border-left: 1px solid #f2f2f2
}

.history .box {
  width: 439px;
  position: relative
}

.history .box .goods-list {
  position: absolute;
  top: 0;
  left: 0
}

.history .btn-sp {
  position: absolute;
  display: block;
  top: 60px;
  background-color: #f2f2f2;
  width: 16px;
  height: 40px;
  line-height: 40px;
  color: #999;
  font-size: 16px;
  z-index: 4
}

.history .btn-sp:hover {
  background-color: #ddd;
  text-decoration: none
}

.history .btn-pre {
  left: 0
}

.history .btn-next {
  right: 0
}

.history .btn-sp-disabled,.history .btn-sp-disabled:hover {
  cursor: text;
  background-color: #f2f2f2;
  color: #ccc
}

.vip-code {
  position: relative;
  padding: 15px 30px 20px;
  background: #fff;
  margin-bottom: 10px
}

.vip-code .info .txt-red {
  margin: 0 3px
}

.vip-code ul {
  overflow: hidden
}

.vip-code ul li {
  display: inline-block;
  float: left;
  position: relative;
  padding-left: 49px;
  margin-top: 15px;
  margin-right: 35px
}

.vip-code ul li em {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  //background: url(//s3.bbgstatic.com/uc/img/index/index-icon-bg.png?v=2bd93ce76fac92ec) no-repeat;
  top: 0;
  left: 0
}

.vip-code ul li .second {
  background-position: 0 -41px
}

.vip-code ul li .third {
  background-position: 0 -82px
}

.vip-code ul li i {
  position: absolute;
  background: #ffc7c7;
  color: #fff;
  top: 0;
  left: 0;
  padding: 3px;
  line-height: 15px;
  font-style: normal;
  border-radius: 2px;
  display: none
}

.vip-code ul .used i {
  display: block
}

.vip-code ul .coupons-div {
  height: 40px;
  line-height: 40px;
  background: #f7edcc;
  position: relative;
  color: #666;
  width: 235px
}

.vip-code ul .coupons-div .coupons-txt {
  width: 125px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 55px;
  font-family: '宋体';
  font-size: 14px
}

.vip-code ul .coupons-div .btn-sec {
  min-width: 20px;
  background: #fdfbf5;
  border: 1px solid #fdfbf5
}

.vip-code ul .used .coupons-div {
  background: #f1f1f1;
  color: #999
}

.vip-code ul .used .coupons-div .btn-sec {
  display: none
}

.arrow-icon {
  left: 15px;
  border-color: transparent transparent #fff
}

.vip-hover h1 {
  color: #fd9631;
  font-weight: 400;
  font-family: 'microsoft yahei'
}

.vip-hover p {
  display: block;
  width: 180px;
  font-family: '宋体';
  font-size: 12px;
  padding-top: 7px;
  line-height: 20px
}

.icon-v {
  width: 14px;
  height: 14px;
  display: inline-block;
  //background: url(//s3.bbgstatic.com/uc/img/index/icon.png?v=6621fc4b1f8ad9a5)
}

.t16 {
  overflow: hidden
}

.t16 .ip-zhanpg {
  float: left
}

.t16 .ip-scdldz {
  float: right;
  color: #999;
  font-family: "宋体";
  font-size: 12px;
  margin-right: 15px
}

.p-normal {
  color: #f03468
}

.level-txt-1 {
  color: red
}

.level-txt-2 {
  color: #f90
}

.level-txt-3 {
  color: #f60
}

.level-txt-4 {
  color: #3bc225
}

.isstate {
  display: none
}

.invitation .f-l .iconfont {
  color: #6acf97;
  font-size: 14px
}

.jParticipate {
  margin-left: 10px;
  padding: 5px
}
